@font-face{
    font-family:'digital-clock-font';
    src: url('../assets/fonts/digital-7.regular.ttf');
}

#outer-circle {
    background: rgb(0, 132, 255);
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
    position: relative;
    border: #000 1vw solid;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0px 5px 2px 0px rgba(51, 51, 51, 0.5);
}

#topleft {
    position: absolute;
    height: 24vw;
    width: 24vw;
    border-radius: 25vw 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -24vw 0px 0px -24vw;
    border-right: #000 .5vw solid;
    border-bottom: #000 .5vw solid;
    box-sizing: border-box;
}

#topright {
    position: absolute;
    height: 24vw;
    width: 24vw;
    border-radius: 0 25vw 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -24vw 0px 0px 0px;
    border-left: #000 .5vw solid;
    border-bottom: #000 .5vw solid;
    box-sizing: border-box;
}

#bottomleft {
    position: absolute;
    height: 24vw;
    width: 24vw;
    border-radius: 0 0 0 25vw;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -24vw 0px -24vw;
    border-top: #000 .5vw solid;
    border-right: #000 .5vw solid;
    box-sizing: border-box;
}

#bottomright {
    position: absolute;
    height: 24vw;
    width: 24vw;
    border-radius: 0 0 25vw 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -24vw 0px;
    border-top: #000 .5vw solid;
    border-left: #000 .5vw solid;
    box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background: rgb(226, 226, 226);
    top: 50%;
    left: 50%;
    margin: -12.5vw 0px 0px -12.5vw;
    border: #000 1vw solid;
    box-sizing: border-box;
}

#title {
    position: absolute;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 2.5vw;
    /* border: 1px #fff solid; */
}

#controls {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    padding: 4px;
    /* border: 1px #fff solid; */
}

.input-container {
    margin-left: 10%;
    font-size: 1.5vw;
    /* border: 1px #fff solid; */
}

.button-container {
    margin-top: 5%;
    text-align: center;
    font-size: 1.5vw;
    /* border: 1px #fff solid; */
}

#round {
    position: absolute;
    width: 100%;
    margin-top: 50%;
    padding: 4px;
    text-align: center;
    /* border: 1px #fff solid; */
}

#round-screen {
    background: #222;
    height: 5vh;
    width: 7vw;
    margin: 0 auto;
    /* border: 1px #fff solid; */
}

#round-text {
    width: 100%;
    color: greenyellow;
    font-family:'digital-clock-font';
    font-size: 3vh;
    text-align: center;
}